section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    padding: 0rem 0.5rem;
}

.CartNumber {
    margin-left: 0.5rem;
    padding: 0rem 0.5rem 0rem 0.5rem;
    border-radius: 50%;
    background-color: white;
    color: black;
}